doctype html
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Audio Stream
link(rel='stylesheet' href='/static/styles/primary.css')
script(src='/static/scripts/primary.js')
div.content
  audio.player
  div.message
  if logo
    div.logo
      img.logo__image(src=logo)
      div.logo__overlay
  div.streams
    each stream, uid in streams
      if stream.name
        div.stream(data-name=stream.name data-uid=uid)
  p.credits Made by
    = " "
    a.credits__link(href='https://htcx.co/' rel='noopener' target='_blank') &#x26a1;HTCX
